<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/BaseLayout">
<head>
    <meta charset="UTF-8">
    <title> GestEtud - Liste des etudiants </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#00000">
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center h1 display-3 fw-bolder text-white"> Liste des étudiants ! </h1>
    <div class="my-3 card bg-dark">
        <div class="card-body mySearchField">
            <form class="form-inline w-100" method="get" th:action="@{etudiants(size=${size})}">
                <div class="form-group text-center px-2">
                    <div class="input-group w-100">
                        <input class="form-control search-field text-light text-center"
                               placeholder="Chercher un étudiant .." th:value="${keyword}" type="search" name="search"
                               id="search-field">
                        <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass text-light"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:if="${added=='true'}" class="alert alert-success alert-dismissible fade show" role="alert">
        L'étudiant a été ajouté avec <strong>succès!</strong> .
        <a class="btn-close" th:href="@{/etudiants(page=${currentPage}, size=${size}, keyword=${keyword})}" data-bs-dismiss="alert" aria-label="Close"></a>
    </div>
    <div th:if="${updated=='true'}" class="alert alert-success alert-dismissible fade show" role="alert">
        L'étudiant a été modifié avec <strong>succès!</strong> .
        <a class="btn-close" th:href="@{/etudiants(page=${currentPage}, size=${size}, keyword=${keyword})}" data-bs-dismiss="alert" aria-label="Close"></a>
    </div>
    <div class="mb-5 card bg-dark text-light">
        <div class="card-body">
            <table class="table table-dark table-hover text-center align-middle">
                <thead>
                    <th><strong> # </strong></th>
                    <th> Nom</th>
                    <th> Prenom</th>
                    <th> Email</th>
                    <th> Date de naissance</th>
                    <th> Genre</th>
                    <th> En règle</th>
                    <th> <strong>Actions</strong> </th>
                </thead>
                <tbody th:with="count=${size}*${currentPage}+1">
                <tr th:each="e, stat:${etudiants}">
                    <td>
                        <span class="badge rounded-pill bg-dark" th:text="${count+stat.index}"> </span>
                    </td>
                    <td th:text="${e.getNom()}"></td>
                    <td th:text="${e.getPrenom()}"></td>
                    <td th:text="${e.getEmail()}"></td>
                    <td th:text="${e.getDateNaissance()}"></td>
                    <td>
                        <span style="color: hotpink;" th:if="${e.getGenre().ordinal()==1}"> Feminin </span>
                        <span style="color: deepskyblue;" th:if="${e.getGenre().ordinal()==0}"> Masculin </span>
                    </td>
                    <td th:text="${e.isEnRegle()?'✔':'❌'}"></td>
                    <td>
                        <a th:href="@{/etudiants/{id}(id=${e.getId()}, page=${currentPage}, size=${size}, keyword=${keyword} )}" class="btn btn-outline-success">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
                <tr th:if="${ #lists.isEmpty(etudiants)}">
                    <td colspan="6" class="bg-light">
                        <i class="fa-solid fa-exclamation"></i> Aucun étudiant n'a été trouvé !
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row w-100 px-0 mx-0">
                <div class="col text-start">
                    <nav aria-label="Page navigation example" th:if="${ not #lists.isEmpty(pages)}">
                        <ul class="pagination justify-content-start">
                            <li th:if="${ maxPages>1}" th:class="${ currentPage==0? 'page-item disabled':'page-item' }">
                                <a class="page-link" th:href="@{etudiants( page=0, keyword=${keyword}, size=${size} )}">
                                    <i class="fa-solid fa-backward-step"></i>
                                </a>
                            </li>
                            <li th:if="${ maxPages>1}" th:class="${ currentPage==0? 'page-item disabled':'page-item' }">
                                <a class="page-link"
                                   th:href="@{etudiants( page=${currentPage}-1, keyword=${keyword}, size=${size} )}">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <li th:each="page,status:${pages}"
                                th:class="${page==currentPage? 'page-item active':'page-item' }">
                                <a th:text="${page+1}" class="page-link"
                                   th:href="@{etudiants( page=${page}, keyword=${keyword}, size=${size} )}"></a>
                            </li>
                            <li th:if="${ maxPages>1}"
                                th:class="${ (currentPage+1)==(maxPages)? 'page-item disabled':'page-item' }">
                                <a class="page-link"
                                   th:href="@{etudiants( page=${currentPage}+1,keyword=${keyword}, size=${size} )}">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                            <li th:if="${ maxPages>1}"
                                th:class="${ (currentPage+1)==(maxPages)? 'page-item disabled':'page-item' }">
                                <a class="page-link"
                                   th:href="@{etudiants( page=${maxPages}-1,keyword=${keyword}, size=${size} )}">
                                    <i class="fa-solid fa-forward-step"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col text-end">
                    <select class="form-select w-auto ms-auto" id="sizeSelect"
                            th:data="@{etudiants( page=0, keyword=${keyword} )}" aria-label="size">
                        <option value="5" th:selected="${size==5}">5</option>
                        <option value="10" th:selected="${size==10}"> 10</option>
                        <option value="25" th:selected="${size==25}">25</option>
                        <option value="50" th:selected="${size==50}">50</option>
                        <option value="100" th:selected="${size==100}">100</option>
                    </select>
                    <small class="text-muted ms-auto">étudiants par page</small>
                </div>
            </div>
        </div>
    </div>
</div>


<div layout:fragment="script">
    <script>
        $(function () {
            $('#sizeSelect').change(e => {
                const location = window.location;
                window.location = location.protocol + '//' + location.host + "/" + $('#sizeSelect').attr('data') + "&size=" + $(e.currentTarget).val()
            })
        })
    </script>
</div>
</body>
</html>