<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/BaseLayout">
<head>
    <meta charset="UTF-8">
    <title> GestEtud - Accueil </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#00000">
</head>
<body>
    <div layout:fragment="content" >

    </div>


    <div layout:fragment="script">

    </div>
</body>
</html>