<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="layouts/BaseLayout">
<head>
    <meta charset="UTF-8">
    <title> GestEtud - Accès interdit </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="theme-color" content="#00000">
</head>
<body>
<div layout:fragment="content">
    <div class="py-5">
        <div class="card border border-secondary">
            <div class="card-header text-center">
                <h3 class="h3 mt-3 mb-4 mx-auto display-6 fw-light ">
                    <i class="fa-solid fa-4"></i><i class="fa-solid fa-0"></i><i class="fa-solid fa-3"></i>
                    Accès interdit
                </h3>
            </div>
            <div class="card-body py-1">
                <div class="alert alert-danger py-5" role="alert">
                    <h1 class="h1 text-center display-3 my-2">
                        <i class="fa-solid fa-skull-crossbones"></i>
                        <i class="fa-solid fa-radiation"></i>
                    </h1>
                    <h3 class="h3 display-6 mt-2 text-center ">
                        Vous n'avez pas le droit d'accéder à cette page !!
                    </h3>
                </div>
            </div>
            <div class="card-footer text-center">
            </div>
        </div>
    </div>
</div>

</body>
</html>